<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Shoes.Properties.Settings.shoestoreConnectionString"
   connectionString="Data Source=desktop-54vds9i\sqlexpress;Initial Catalog=shoestore;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Shoes.Properties.Settings.shoestoreConnectionString1"
   connectionString="Data Source=LAPTOP-C7NSF4A1\ACERKIENAI;Initial Catalog=shoestore;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>